/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}


@media only screen and (min-width:1001px) {
    #b4h-news {
        /*float:right;*/
        position:absolute;
        top:0;
        right:0;
    }
    .jcarousel {
        width:250px;   
    }
}
@media only screen and (max-width:1000px) {
    header {
        display: block;
        overflow: hidden;
    }
    header content {
        display: block;
    }
    /* .jcarousel width remains auto, #b4h-news position remains static*/
}

.jcarousel {
    position: relative;
    overflow: hidden;
    /*width: 1900px;*/
    background-color: #f1f1f1; /* matches news site background */
}

.jcarousel li {
    float: left;
    width: 250px;
    box-sizing: border-box; /* maybe */
    /*border:1px solid gray;*/
    padding: 0 5px;
}


.jcarousel li img {
    width:50px;
    float:left;
    margin: 0 5px 5px 0;
}
.jcarousel h3 {
    font-size:15px;
    margin: 0 0 4px;
    display: inline;
}
.jcarousel time {
    font-size: 10px;
    color:#aaaaaa;
    display: inline-block;
    margin: 0 0 .5em .5em;
}
.jcarousel .rpwe-summary {
    font-size:10px;
    margin-bottom: .5em;
}
/*.jcarousel a.more-link:before {
    content: " ";
}*/
.jcarousel a.more-link {
    margin-left: .3em;
    display: inline-block;
}