/* Kimbia / GiveMN Widget Tweaks */


/* removal and fixing of elements */

.inputGroup.couponCode,
#kimbiaView_1_AddaTip,
#kimbiaView_1_TipAmount,
label.groupLabel,
.k_messagingProfile,
.k_shareThisFormBlock {
  display:none !important;
}

.kimbiaDiv input[type="text"], 
.kimbiaDiv input[type="email"], 
.kimbiaDiv textarea {
  /* color: rgba(255,255,255,.5); */
}
.kimbiaDiv select,
.kimbiaDiv button.forward {
  color: rgba(0,0,0,.5);
}

#kimbiaView_1_DonationLevel .k_radioCB:not(.k_ongoing):not(.k_oneTime) {
	font-weight: bold;
}
#kimbiaView_1_DonationLevel .k_radioCB .fieldCaption {
	font-weight: normal;
}



/* specific styling */

div.kimbiaDiv button.k_button.forward {
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #eeeeee;
	font-size: 1.75em !important;
}
div.kimbiaDiv button.k_button.forward:hover {
	opacity: .8;
}