* {
	box-sizing: border-box;
}
body {
	margin:0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: #444444;
}

h1 {font-size: 3.00em}
h2 {font-size: 2.25em}
h3 {font-size: 1.75em}
h4 {font-size: 1.25em}
h5 {font-size: 1.00em}
h6 {font-size: 0.75em}

h1,h2,h3,h4,h5,h6,p,ul,ol {margin: 20px 0;}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

img {max-width: 100%;}

/* FRAMEWORK */

inner
{
	max-width: 900px;
	margin: 0 auto;
}

inner {
	padding: 30px;
	margin: 0 auto;
	display:block;
}

section {display:block;}

.one-third {
	width:33.33%;
	padding:20px;
	float:left;
}

/* SECTIONS */

/* Header */

header, header p, header a {
	text-align: center;
	/*color: #FFFFFF;*/
	/*color: HSL(207, 6%, 61%);*/
	/*color: HSL(205, 38%, 41%);*/
	/*color: HSL(66, 71%, 44%);*/
	color: #959BA0;
}
h1,h2,h3,h4,h5,h6{

}

header {
	background-image: url('images/bridge-background.jpg');
	background-image: url('http://localhost/Pictures/b4h/bridge-background-gray.jpg');
	background-image: none;
	/* background-color: #CED78A; /* too light */
	/* background-color: #B0BF20; /* way too much */
	/* background-color: #545738; /* too brown */
	/* background-color: #6A7314; /* too much */
	/* background-color: #525A0F; /* still too much */
	/*background-color: RGB(119, 119, 100); clashes with gray from letters*/
	/*background-color: RGB(150, 156, 161);  too light/bright gray */
	/*background-color: RGB(102, 107, 110);*/
	background-color: HSL(203, 7%, 43%);
	background-color: HSL(203, 7%, 53%);
	background-color: HSL(207, 6%, 61%);
	background-color: HSL(207, 6%, 58%);
	background-color: transparent;
	background-size: cover;
	padding: 5%;
	/* height:100vh; */
	display:table;
	width: 100%;
}
header content {
	display: table-cell;
	vertical-align: middle;
}
header img {
	width: 350px;
	width: 450px;
	width: 550px;
	max-width: 100%;
	margin: -100px;
}
header hr {
	width: 50%;
}
header, .intro {
	font-weight: 200;	
}
header p, .intro p{
	font-size:1.1em;
}


/* Intro */
.intro {
	background-color:#3C6F8E;
	color: white;
	text-align:center;
}